<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Aik Ngempok Resto</title>
</head>

<body>
  <a tabindex="1" href="#content-id" class="skip-to-content">To the Content</a>
  <header>
    <div id="navbar-id" class="navbar">
      <div class="header-inner">
        <h1 class="header-title">
         <span>Watr Boom</span> Resto
        </h1>
        <ul class="navigation-responsive">
          <li><a id="navigation-drawer-id" class="navigation-drawer" href="#">☰</a>
          </li>
        </ul>
      </div>
      <nav id="navbar-container-id" class="navbar-container">
        <ul class="navbar-list">
          <li class="navbar-item"><a href="">HOME</a></li>
          <li class="navbar-item"><a href="#">FAVORITE</a></li>
          <li class="navbar-item"><a href="https://www.instagram.com/among_42?igsh=Y210NHltb250OWU4">About Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="hero">
      <div class="hero-container">
        <h1 class="hero-title"> Water Boom Resto</h1>
        <p class="hero-description">Temukan menu spesial anda</p>
      </div>
    </div>
  </header>
  <main id="content-id" class="content">
    <div class="content-header">
      <h2 class="content-header-title"> <span>Jelajahi</span> & Temukan Menu Spesial</h1>
    </div>
    <div id="content-card-id" class="content-card"></div>
  </main>
  <footer>
    <p>Submission Awal &copy; 2024, Muammaruddin</p>
  </footer>
</body>

</html>
